# Python
__pycache__/
*.py[cod]
.Python

# Virtual environments
.venv/
venv/
env/

# Large dataset files
*.txt
KDDTrain+.txt
KDDTest+.txt
archive/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment
.env
